@charset "utf-8";

// ======================================
// メイン - このファイルにメインコンテンツ部分のスタイルをガツガツ書いていく。
// =======================================


//top


//company



@include media(tablet){
	float:none;
	margin: 0 auto;
}

@include media(sp){
	width:auto;
	margin: 0 10px;
}


@include media(iphone){
	width:100%;
	margin: 0;
}


